@page "/"

<PageTitle>Home</PageTitle>

<h1>¡Hola mundo!</h1>

<p>Esta es una página fue hecha con crédito social</p>

<TodoList info="Original"></TodoList>

Welcome to your new app.

@code {
    public List<string> Original = new List<string>() {"Primero lo primero", "Se me olvida algo :v"};
}