@page "/TodoList"
@rendermode InteractiveServer

<PageTitle>Lista de quehaceres</PageTitle>

<h1>Tu lista de tareas</h1>

<label for="tarea">Tarea: </label>
<input type="text" name="tarea" id="tarea" @bind="Tarea">
<button type="button" class="btn btn-primary" @onclick="Agregar">Agregar tarea</button>
<p>Tareas: </p>
<ul>
    @* @foreach (var uno in info) {
        <li>@uno</li>
    } *@
    @foreach (var uno in Muchos) {
        <li>@uno.tarea</li>
    }
</ul>

<table style="margin-left: auto; margin-right: auto; border: 1px black solid;">
    @foreach (var uno in Muchos) {
        <tr>
            <td style="border: 1px black solid;">@uno.tarea</td>
            <td style="border: 1px black solid;">@uno.tamaño</td>
        </tr>
    }
</table>

@code {
    protected string Tarea {get; set;}
    protected List<QueHacer> Muchos = new List<QueHacer>();
    protected void Agregar() {
        Muchos.Add(new QueHacer(Tarea));
        Tarea = "";
    }
    protected class QueHacer {
        public string tarea {get; set;}
        public int tamaño {get; set;}
        public QueHacer(string _tarea) {
            tarea = _tarea;
            tamaño = tarea.Length;
        }
    }
    @* [Parameter]
    public List<string> info {get; set;} *@
}